<h1>App Home </h1>

<div>
  <label for="cedulaInput">Buscar Cédula:</label>
  <input type="text" id="cedulaInput" [(ngModel)]="cedula" placeholder="Ingrese la cédula" />
  <button type="button" (click)="buscarCedula()" name="btn">Buscar</button>
</div>

<table *ngIf="deudas.length > 0">
  <thead>
    <tr>
      <th>Código</th>
      <th>Número</th>
      <th>Fecha de Emisión</th>
      <th>Título</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let deuda of deudas">
      <td>{{ deuda.codigo }}</td>
      <td>{{ deuda.numero }}</td>
      <td>{{ deuda.fechaEmision }}</td>
      <td>{{ deuda.titulo }}</td>
      <td>{{ deuda.total }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="!deudas || deudas.length === 0">
  <p>No se encontraron deudas asociadas a la cédula ingresada.</p>
</div>
