div {
    margin: 20px;
  
    label {
      font-weight: bold;
      margin-right: 10px;
    }
  
    input {
      padding: 5px;
      margin-right: 10px;
    }
  
    p {
      margin-top: 10px;
    }
  }
  